# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
*.egg-info/
dist/
build/
*.egg

# Виртуальное окружение
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log
docker-compose.override.yml

# OS
Thumbs.db
.DS_Store
Desktop.ini